* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block {
  height: 85vh;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
.gallery-info {
  display: flex;
}
.block:nth-child(1) {
  flex: 1;
}
.block:nth-child(2) {
  flex: 3;
}
.block:nth-child(3) {
  flex: 1;
}
img {
  width: 100%;
  height: 85vh;
}
#right-nav {
  position: absolute;
  top: 350px;
  left: 985px;
  background: black;
  border: none;
}
.fa-angle-double-right,
.fa-angle-double-left {
  font-size: 30px;
  color: white;
  padding: 30px;
}
#left-nav {
  position: absolute;
  top: 350px;
  background: black;
  border: none;
}
.property-details {
  display: flex;
  flex-direction: column;
}
.column {
  width: 100%;
  height: 278px;
}
.price {
  text-align: center;
}
#purchase-btn {
  width: 100%;
  padding: 20px 0;
  border: none;
  background: blue;
  color: white;
}
h2 {
  padding-top: 20px;
  font-size: 40px;
}
.amount {
  padding: 20px;
  font-size: 30px;
}
.location {
  display: flex;
  justify-content: center;
}

.fa-map-marker-alt {
  font-size: 30px;
}
.your-position {
  margin-top: 250px;
}
.property-position {
  margin-top: 100px;
}
