* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent-head {
  width: 100%;
  height: 100vh;
}
/* .siblings {;
  width: 100%;
} */
.parent-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'left left'
    'right leftt'
    'rightt only'
    'head head'
    'map map';
  grid-gap: 10px;
}

.siblings:nth-child(1) {
  grid-area: left;
}

.siblings:nth-child(2) {
  grid-area: right;
}

.siblings:nth-child(3) {
  grid-area: leftt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.siblings:nth-child(4) {
  grid-area: rightt;
}

.siblings:nth-child(5) {
  grid-area: only;
}
.siblings:nth-child(6) {
  grid-area: head;
}
.siblings:nth-child(7) {
  grid-area: map;
}

.section {
  height: 500px;
  width: 100%;
}
.jumbotron {
  color: white;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
#purchase-btn {
  width: 200px;
  padding: 10px 0;
  border: none;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  color: white;
}
#mapid {
  height: 500px;
}
/* pk.eyJ1IjoiYWRleWVtaSIsImEiOiJjanh5cWR5MWwwYzA4M2dyenEyYmF1bmNpIn0.08dNXqcz2kwApgAxz-rq8g */
.graph {
  height: 100vh;
}
