img {
  width: 100%;
}

.children {
  margin-bottom: 10px;
}
.parent {
  height: 1000px;
  width: 100%;
}
.image-details,
.control,
.rooms {
  height: 200px;
  border: 1px solid black;
  width: 100%;
  text-align: center;
  background: white;
  padding: 10px;
}
.parent-lock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'left . .'
    '. right .'
    '. . far';
  background: green;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-details {
  grid-area: left;
}
.control {
  grid-area: right;
}
.rooms {
  grid-area: far;
}
h1 {
  text-transform: capitalize;
  padding-bottom: 20px;
}
#purchase-btn {
  width: 50%;
  padding: 10px 0;
  border: none;
  background: blue;
  color: white;
}
#mapid {
  height: 500px;
}
/* pk.eyJ1IjoiYWRleWVtaSIsImEiOiJjanh5cWR5MWwwYzA4M2dyenEyYmF1bmNpIn0.08dNXqcz2kwApgAxz-rq8g */
