* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  padding: 38px;
  background: white;
}
.right-side {
  display: flex;
}
.nav-row > .right-side > div {
  margin-right: 20px;
  font-size: 90%;
  text-transform: uppercase;
}
.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link-wrapper :hover {
  border-bottom: 1px solid black;
}
.nav-link-wrapper a:hover {
  color: black;
}
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0px;
  padding-right: 100px;
}
.portfolio-img-background:hover {
  opacity: 0.5;
}

.img-text {
  color: seagreen;
  background: white;
  padding: 20px;
}
i {
  color: blue;
  font-size: 20px;
  padding-right: 10px;
}
